<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>	
	<title>공장 관리</title>
</head>

<body>

	<div class="container">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="#" th:href="@{/customers/list}">거래처</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" href="#" th:href="@{/products/list}">제품</a>
		  	</li>
			 <li class="nav-item">
			    <a class="nav-link" href="#">주문</a>
			 </li>
			 <li class="nav-item">
		    	<a class="nav-link active" href="#" th:href="@{/manufactures/list}">공장</a>
		     </li>
		     <li class="nav-item">
		    	<a class="nav-link" href="#" th:href="@{/stock/list}">재고</a>
		     </li>
		</ul>
		<br>
		<h2>공장 관리</h2>
		<hr>
		
		<!-- put new button: Add Customer -->
		<a th:href="@{/manufactures/showFormForAdd}" class="btn btn-primary btn-sm mb-3">공장 등록</a>
		
		<!-- add our html table here -->
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>공장</th>
						<th>공장번호</th>
						<th>공장주소</th>
						<th>공장제품</th>
						<th>비고</th>
					</tr>
				</thead>
					
				<!-- loop over and print our customers-->
				<tbody>
					<tr th:each="manufacture : ${manufactures}">
						<td name="mfgName" th:text="${manufacture.mfgName}"></td>
						<td th:text="${manufacture.mfgHp}"></td>
						<td th:text="${manufacture.mfgAddr}"></td>
						<td>
							<div class="btn-group">
							  <button type="button" class="btn btn-secondary">제품목록</button>
							  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
							    <span class="visually-hidden"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a class="dropdown-item" href="#" th:href="@{/manufactures/productList(manufactureName=${manufacture.mfgName})}">카드뷰</a></li>
							    <li><hr class="dropdown-divider"></li>
							    <li><a class="dropdown-item" href="#" th:href="@{/manufactures/showTable(manufactureName=${manufacture.mfgName})}">리스트뷰</a></li>
							  </ul>
							</div>
						</td>
						<td>
								<a sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')" th:href="@{/manufactures/showFormForUpdate(manufactureName=${manufacture.mfgName})}" 
									class="btn btn-info btn-sm">
									Update
								</a>
								<a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/manufactures/delete(manufactureName=${manufacture.mfgName})}" 
									class="btn btn-danger btn-sm"
									onclick="if (!(confirm('정말 삭제하시겠습니까?'))) return false">
									Delete
								</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- Add a logout button -->
		<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="로그아웃" class="btn btn-outline-primary mt-2" />
	
	</form>
		
		
	</div>

</body>
</html>